@font-face {
  font-family: "iconfont"; /* Project id 3187932 */
  src: url('//at.alicdn.com/t/font_3187932_or9gi56hdp.woff2?t=1645068799441') format('woff2'),
       url('//at.alicdn.com/t/font_3187932_or9gi56hdp.woff?t=1645068799441') format('woff'),
       url('//at.alicdn.com/t/font_3187932_or9gi56hdp.ttf?t=1645068799441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-sf:before {
  content: "\e605";
}

.icon-bilibili-fill:before {
  content: "\e7c8";
}

.icon-bilibili-fill1:before {
  content: "\e66b";
}

.icon-sifou:before {
  content: "\e601";
}

.icon-icon_bilibili:before {
  content: "\e600";
}
